
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adminstration</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            @Ajax.ActionLink("Gerer les membres", "RechercheMembre", new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "vuepartiel",
           HttpMethod = "GET",
           OnFailure = "ErreurAjax",
           LoadingElementId = "chargementPrincipale"
       })
        </li>
        <li>
            @Ajax.ActionLink("Gerer les topics", "RechercheTopic", new AjaxOptions
       {
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "vuepartiel",
           HttpMethod = "GET",
           OnFailure = "ErreurAjax",
           LoadingElementId = "chargementPrincipale"
       })
        </li>

        <li>
            @Ajax.ActionLink("Gerer les documents", "RechercheDocument", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "vuepartiel",
                HttpMethod = "GET",
                OnFailure = "ErreurAjax",
                LoadingElementId = "chargementPrincipale"
            })
        </li>

    </ul>
    <img id="chargementPrincipale" src="~/Content/Images/ajax-loader.gif" style="display: none" alt="Chargement en cours..." />

</div>

<div id="vuepartiel">

    @*@{

            Html.RenderAction("RechercheDocument");

        }*@

</div>






