
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adminstration</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            @Ajax.ActionLink("Gerer les membres", "RechercheMembre", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "vuepartiel",
            HttpMethod = "GET",
            OnFailure = "ErreurAjax"
        })
        </li>
        <li>
            @Ajax.ActionLink("Gerer les topics", "RechercheTopic", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "vuepartiel",
            HttpMethod = "GET",
            OnFailure = "ErreurAjax"
        })
        </li>

        <li>
            @Ajax.ActionLink("Gerer les documents", "RechercheDocument", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "vuepartiel",
            HttpMethod = "GET",
            OnFailure = "ErreurAjax"
        })
        </li>

    </ul>
</div>
<div id="vuepartiel">

    @{

        Html.RenderAction("RechercheDocument");

    }

</div>





