@model BuildFormation.ViewModels.RechercheMembreViewModel

@using (Ajax.BeginForm("ResultatsRechercheMembres", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "resultats",
    OnFailure = "ErreurRecherche",
    LoadingElementId = "chargement"
}))
{
    @Html.TextBoxFor(m => m.Filtre);
    <img id="chargement" src="~/Content/Images/ajax-loader.gif" style="display: none" alt="Chargement en cours..." />
    <input type="submit" value="Rechercher" />


    <div id="resultats">
        @{Html.RenderAction("ResultatsRechercheMembres", new { rechercheViewModel = Model });
        }
    </div>
}
